<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:property="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
    <!--pattern 表示放行的资源  security不进行认证拦截-->
    <!--放行登录页面,和登录失败页面-->
<security:http pattern="/user/login" security="none"></security:http>
<security:http pattern="/user/register" security="none"></security:http>
<security:http pattern="/user/doRegister" security="none"></security:http>

    <!-- auto-config="true"  自动生成登陆页面;如果有指定登陆页面，认证失败还是跳转到自己指定的登陆页面。
use-expressions="false" 不使用SpEL表达式-->
    <security:http auto-config="true" use-expressions="false">
        <!--  pattern="/**" 拦截所有资源
      access="ROLE_USER" 表示访问所有资源必须有的角色
                         注意：必须以ROLE_ 开头,且与下面配置的authorities中的角色要一致才可以登陆-->
          <property:intercept-url  pattern="/**" access="ROLE_USER" ></property:intercept-url>
        <!-- login-page="/login.html"              登陆页面
                     login-processing-url="/login"         登陆提交地址
                     username-parameter="userName"         登陆页面提交表单参数:用户名
                     password-parameter="password"         登陆页面提交表单参数:密码
                     authentication-failure-url="/fail.html" 登陆失败跳转地址
                     authentication-success-forward-url="/success.html" 认证完成后跳转的页面，认证失败也认为认证完成..
                     default-target-url="/success.html"      登陆成功默认跳转地址（如果没有指定authentication-success-forward-url）
                                                              就以默认跳转地址为准。-->
        <security:form-login
                login-page="/user/login"
                login-processing-url="/login"
                username-parameter="username"
                password-parameter="password"
            default-target-url="/user/success"></security:form-login>
        <!--invalidate-session="true"         退出销毁session
                             logout-url="/logout"              退出地址
                             logout-success-url="/login.html"  退出成功后跳转的页面-->
        <security:logout invalidate-session="true"
                         logout-url="/logout"
                         logout-success-url="/pages/login.jsp"></security:logout>

        <!--权限校验失败跳转的页面-->
       <!-- <security:access-denied-handler error-page="/pages/permission.jsp"></security:access-denied-handler>-->
        <!--关闭跨域请求校验-->
        <security:csrf disabled="true"></security:csrf>

    </security:http>

    <!--配置登陆信息(登录信息写死)-->
    <security:authentication-manager>
        <!--引用userService对象,UserServiced一定要实现接口UserDetailsService-->
        <security:authentication-provider user-service-ref="userService"></security:authentication-provider>
    </security:authentication-manager>
</beans>